<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="invoice">
      <h2 data-cy="invoiceDetailsHeading"><span jhiTranslate="storeApp.invoice.detail.title">Invoice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ invoice.id }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.code">Code</span></dt>
        <dd>
          <span>{{ invoice.code }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.date">Date</span></dt>
        <dd>
          <span>{{ invoice.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.details">Details</span></dt>
        <dd>
          <span>{{ invoice.details }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'storeApp.InvoiceStatus.' + invoice.status }}">{{ invoice.status }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.paymentMethod">Payment Method</span></dt>
        <dd>
          <span jhiTranslate="{{ 'storeApp.PaymentMethod.' + invoice.paymentMethod }}">{{ invoice.paymentMethod }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.paymentDate">Payment Date</span></dt>
        <dd>
          <span>{{ invoice.paymentDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.paymentAmount">Payment Amount</span></dt>
        <dd>
          <span>{{ invoice.paymentAmount }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoice.order">Order</span></dt>
        <dd>
          <div *ngIf="invoice.order">
            <a [routerLink]="['/product-order', invoice.order.id, 'view']">{{ invoice.order.code }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/invoice', invoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
