<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderItem">
      <h2 data-cy="orderItemDetailsHeading"><span jhiTranslate="storeApp.orderItem.detail.title">Order Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orderItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.orderItem.quantity">Quantity</span></dt>
        <dd>
          <span>{{ orderItem.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.orderItem.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ orderItem.totalPrice }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.orderItem.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'storeApp.OrderItemStatus.' + orderItem.status }}">{{ orderItem.status }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.orderItem.product">Product</span></dt>
        <dd>
          <div *ngIf="orderItem.product">
            <a [routerLink]="['/product-entity', orderItem.product.id, 'view']">{{ orderItem.product.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="storeApp.orderItem.order">Order</span></dt>
        <dd>
          <div *ngIf="orderItem.order">
            <a [routerLink]="['/product-order', orderItem.order.id, 'view']">{{ orderItem.order.code }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order-item', orderItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
