<div>
  <h2 id="page-heading" data-cy="ProductEntityHeading">
    <span jhiTranslate="storeApp.productEntity.home.title">Product Entities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="storeApp.productEntity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product-entity"
        [routerLink]="['/product-entity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="storeApp.productEntity.home.createLabel"> Create a new Product Entity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productEntities?.length === 0">
    <span jhiTranslate="storeApp.productEntity.home.notFound">No Product Entities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="productEntities && productEntities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="storeApp.productEntity.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="storeApp.productEntity.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="storeApp.productEntity.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productSize">
            <div class="d-flex">
              <span jhiTranslate="storeApp.productEntity.productSize">Product Size</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="storeApp.productEntity.image">Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productCategory.name">
            <div class="d-flex">
              <span jhiTranslate="storeApp.productEntity.productCategory">Product Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productEntity of productEntities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product-entity', productEntity.id, 'view']">{{ productEntity.id }}</a>
          </td>
          <td>{{ productEntity.name }}</td>
          <td>{{ productEntity.description }}</td>
          <td>{{ productEntity.price }}</td>
          <td jhiTranslate="{{ 'storeApp.Size.' + productEntity.productSize }}">{{ productEntity.productSize }}</td>
          <td>
            <a *ngIf="productEntity.image" (click)="openFile(productEntity.image, productEntity.imageContentType)">
              <img
                [src]="'data:' + productEntity.imageContentType + ';base64,' + productEntity.image"
                style="max-height: 30px"
                alt="productEntity image"
              />
            </a>
            <span *ngIf="productEntity.image">{{ productEntity.imageContentType }}, {{ byteSize(productEntity.image) }}</span>
          </td>
          <td>
            <div *ngIf="productEntity.productCategory">
              <a [routerLink]="['/product-category', productEntity.productCategory.id, 'view']">{{ productEntity.productCategory.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product-entity', productEntity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product-entity', productEntity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(productEntity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
