<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productEntity">
      <h2 data-cy="productEntityDetailsHeading"><span jhiTranslate="storeApp.productEntity.detail.title">Product Entity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ productEntity.id }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.productEntity.name">Name</span></dt>
        <dd>
          <span>{{ productEntity.name }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.productEntity.description">Description</span></dt>
        <dd>
          <span>{{ productEntity.description }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.productEntity.price">Price</span></dt>
        <dd>
          <span>{{ productEntity.price }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.productEntity.productSize">Product Size</span></dt>
        <dd>
          <span jhiTranslate="{{ 'storeApp.Size.' + productEntity.productSize }}">{{ productEntity.productSize }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.productEntity.image">Image</span></dt>
        <dd>
          <div *ngIf="productEntity.image">
            <a (click)="openFile(productEntity.image, productEntity.imageContentType)">
              <img
                [src]="'data:' + productEntity.imageContentType + ';base64,' + productEntity.image"
                style="max-width: 100%"
                alt="productEntity image"
              />
            </a>
            {{ productEntity.imageContentType }}, {{ byteSize(productEntity.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="storeApp.productEntity.productCategory">Product Category</span></dt>
        <dd>
          <div *ngIf="productEntity.productCategory">
            <a [routerLink]="['/product-category', productEntity.productCategory.id, 'view']">{{ productEntity.productCategory.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product-entity', productEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
